<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{view.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="{{view.title}}">
  <meta name="application-name" content="{{view.title}}">
  <link rel="canonical" href="{{canonicalViewUrl(view)}}" />
  <link rel="preconnect" href="https://www.google-analytics.com" />

  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ga}}', 'auto');
    ga('send', 'pageview');
    {% if view.ga %}
    ga('create', '{{view.ga}}', 'auto', { name: 'view' });
    ga('view.send', 'pageview');
    {% endif %}
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>

  <title>{{view.title}}</title>

  <link rel="stylesheet" href="/styles/main.css">

  {% if view.customStyle %}
    <link rel="stylesheet" href="{{view.customStyle}}">
  {%- endif %}

  <link rel="import" href="/elements/elements.html">

  <style is="custom-style">
    :root {
      --paper-tabs-selection-bar-color: currentcolor;
      --paper-input-container-underline: {
        display: none;
      };
      --paper-input-container-underline-focus: {
        display: none;
      };
    }

    .dropdown-filter {
      --paper-input-container: {
        padding: 8px;
      }
    }
  </style>

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#455a64">
  <meta name="apple-mobile-web-app-title" content="{{view.title}}">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="/images/favicons/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#455a64">
  <meta name="msapplication-TileColor" content="#455a64">
  <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
  <meta name="theme-color" content="#455a64">

  <meta name="og:type" property="og:type" content="website" />
  <meta name="og:title" property="og:title" content="{{view.title}}" />
  <meta name="og:description" property="og:description" content="{{view.description}}" />
  <meta name="og:url" property="og:url" content="{{canonicalViewUrl(view)}}" />
  <meta name="og:site_name" property="og:site_name" content="Codelabs" />
  <meta name="og:determiner" property="og:determiner" content="the" />
  <meta name="og:locale" property="og:locale" content="en_US" />
  <meta name="og:image" property="og:image" content="/images/og-image.png" />
  <meta name="og:image:url" property="og:image:url" content="/images/og-image.png" />
  <meta name="og:image:type" property="og:image:type" content="image/png" />
  <meta name="og:image:width" property="og:image:width" content="1200" />
  <meta name="og:image:height" property="og:image:height" content="1200" />
  <meta name="og:image:alt" property="og:image:alt" content="Codelabs" />

  <meta name="twitter:card" property="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" property="twitter:title" content="{{view.title}}" />
  <meta name="twitter:description" property="twitter:description" content="{{view.description}}" />
  <meta name="twitter:image" property="twitter:image" content="/images/og-image.png" />
  <meta name="twitter:url" property="twitter:url" content="{{canonicalViewUrl(view)}}" />
</head>

<body id="app" is="body-bind" class="loading fullbleed {% if view.id != 'default' -%}view{%- endif -%}">
  <paper-header-panel id="main" mode="standard" main>
    {% raw %}
    <div id="mainToolbar" class="paper-header">
      <div class="site-width layout horizontal">
        <a href="/">
          <img src="/images/logo.png" class="logo-devs" alt="Codelabs Logo">
        </a>
        <div id="searchbar">
          <paper-input-container no-label-float>
            <paper-icon-button prefix icon="search"></paper-icon-button>
            <label>Search</label>
            <input is="iron-input" bind-value="{{searchVal}}" on-keydown="onSearchKeyDown">
          </paper-input-container>
        </div>
        
      </div>
      
      <button class="button-two" onclick="signout();">Sign out</button>
    </div>
    {% endraw %}

    <header id="banner">
      <div class="site-width">  
        <h2 class="banner-title">Welcome to <b>go/apigee-demos!</b></h2>
        <div class="banner-description">
          <p class="banner-info">
            <b>go/apigee-demos</b> collects all of the technical and industry demos at one place.  In case you would like to add a demo, visit our <a href="https://drive.google.com/drive/folders/1dUq_jjraXqIWagEqwoVp-8ljIaUGiQ4V?usp=sharing">Team Drive</a> for instructions (it's quick and easy!). 
            
            <br><br>
            Here are the categories of demos collected here:<br>
            <img src="../images/icons/rocket.svg" width="30px"><a href="#" onclick="setGetParam('cat', 'getting-started')" style="text-decoration: none;"><span style="position: relative; bottom: 10px; color: #0f9d58; font-weight: bold; margin-left: 10px;">Getting Started Demos</span></a>
            <br>
            <img src="../images/icons/web.svg" width="30px"><a href="#" onclick="setGetParam('cat', 'advanced')" style="text-decoration: none;"><span style="position: relative; bottom: 6px; color: #4285f4; font-weight: bold; margin-left: 10px;">Advanced Demos</span></a>
            <br>
            <img src="../images/icons/crane.svg" width="30px"><a href="#" onclick="setGetParam('cat', 'industry')" style="text-decoration: none;"><span style="position: relative; bottom: 10px; color: #ed8e24; font-weight: bold; margin-left: 10px;">Industry Demos</span></a>        
            <br>
            <img src="../images/icons/euro.svg" width="30px"><a href="#" onclick="setGetParam('cat', 'banking')" style="text-decoration: none;"><span style="position: relative; bottom: 10px; color: #ed8e24; font-weight: bold; margin-left: 10px;">Banking Demos</span></a>

            <br><br>
            The demos are documented in <a href="https://github.com/googlecodelabs/tools">Codelab</a> format in the Team Drive here: <a href="https://drive.google.com/drive/folders/1dUq_jjraXqIWagEqwoVp-8ljIaUGiQ4V?usp=sharing">Apigee SE Team > Demo Guides</a>   
          </p>         
        </div>
      </div>
    </header>

    <main>
      <div id="filters" class="site-width layout horizontal center justified">
        <div id="sortby">
          <paper-tabs selected="0" noink on-iron-activate="sortBy">
            <paper-tab>A-Z</paper-tab>
            <paper-tab>Recent</paper-tab>
            <paper-tab>Duration</paper-tab>
          </paper-tabs>
        </div>

        {% if view.id == 'default' %}
        <paper-dropdown-menu
          label="Choose a type"
          class="dropdown-filter"
          no-label-float
          noink no-animations
        >
          <paper-listbox
            id="eventList"
            slot="dropdown-content"
            class="dropdown-content"
          >
            {%- for view in views -%}
              {%- if view.id != 'default' && !view.hidden -%}
                <a href="/{{view.url}}/" tabindex="-1">
                  <paper-item>{{view.title}}</paper-item>
                </a>
              {%- endif -%}
            {%- endfor %}
          </paper-listbox>
        </paper-dropdown-menu>
        {% endif %}

        {%- if showcats -%}
        <a href="#" style="font-size: 14px;" onclick="setGetParam('cat', '')">Reset filter</a>
        <paper-dropdown-menu
          label="Filter by category"
          class="dropdown-filter"
          no-label-float
          noink no-animations
        >
          <paper-listbox
            id="categorylist"
            slot="dropdown-content"
            class="dropdown-content"
            on-iron-activate="onCategoryActivate"
            attr-for-selected="filter"
          >
              {% for category in categories -%}
                {%- if categoryHasShowableCodelabs(category, codelabs) -%}
                  <paper-item filter="{{category}}">{{category}}</paper-item>
                {%- endif -%}
              {%- endfor %}
          </paper-listbox>
        </paper-dropdown-menu>
        {%- endif -%}
      </div>

      <card-sorter id="cards" class="site-width">
        {% for codelab in codelabs -%}

          {# Only filter hidden codelabs from the default view.
             All other views are explicitly opt-in via metadata. #}
          {% if codelab.status.indexOf('hidden') === -1 || view.id !== 'default' %}
            {% set cat = levelledCategory(codelab, view.catLevel) %}
            <a href="{{codelabUrl(view, codelab)}}" on-tap="navigate"
               class="codelab-card category-{{categoryClass(codelab, cat.level)}}"
               data-category="{{codelab.category}}"
               data-title="{{codelab.title}}"
               data-duration="{{codelab.duration}}"
               data-updated="{{codelab.updated}}"
               data-tags="{{codelab.tags}}"
               data-pin="{{codelabPin(view, codelab)}}">
              {%- if codelabPin(view, codelab) -%}
                <div class="card-pin"></div>
              {%- endif -%}
              <div class="description">{{codelab.title}}</div>
              <div class="card-duration">
                <span>{%- if codelab.duration -%}{{codelab.duration}} min {%- endif -%}</span>
                <span>{%- if codelab.updated -%}Updated {{codePrettyDate(codelab.updated)}}{%- endif -%}</span>
              </div>
              <div class="card-footer">
                <div class="category-icon {{categoryClass(codelab, cat.level)}}-icon"></div>
                <paper-button class="{{categoryClass(codelab, cat.level)}}-bg">Start</paper-button>
              </div>
            </a>
          {%- endif %}
        {%- endfor %}
      </card-sorter>

      <div id="loading-placeholder" class="site-width">
        Loading apidemos, please wait...
      </div>
    </main>

    <footer id="footer">
      <div class="footer-wrapper site-width">
        <div class="link-list">
          <label>Customer Success Home</label>
          <ul>
            <li><a href="https://sites.google.com/corp/google.com/apigeecs/home" target="_blank">Apigee Customer Success</a></li>
          </ul>
        </div>
        <div class="link-list">
          <label>Sales Home</label>
          <ul>
            <li><a href="https://sites.google.com/corp/google.com/apigee-sales-central/spotlight" target="_blank">Apigee Sales Central</a></li>
          </ul>
        </div>
        <div class="link-list">
          <label>Product Home</label>
           <ul>
            <li><a href="go/apigee-product-central" target="_blank">Apigee Product Central</a></li>
          </ul>
        </div>
        <div class="link-list">
          <label>Engineering Home</label>
          <ul>
            <li><a href="go/apigee" target="_blank">Apigee Engineering</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <div class="footerbar">
      <div class="site-width layout horizontal center justified">
        <span>
          <a href="https://cloud.google.com/apigee" target="_blank">Apigee</a>
          &nbsp; | &nbsp;
          <a href="https://apigee.com/edge" target="_blank">Apigee Edge</a>
          &nbsp; | &nbsp;
          Icons made by <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </span>
      </div>
    </div>

  </paper-header-panel>
  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="/__/firebase/7.14.3/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="/__/firebase/7.14.3/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="/__/firebase/7.14.3/firebase-auth.js"></script>
  <script src="/__/firebase/7.14.3/firebase-firestore.js"></script>  
  <!-- Initialize Firebase -->
  <script src="/__/firebase/init.js"></script>
  <!-- build:js /scripts/main.js -->
  <script src="bower_components/url-search-params-polyfill/build/url-search-params.js"></script>
  <script src="scripts/app.js"></script>
  <!-- endbuild-->

  <script>
    
  </script>
</body>
</html>
